/* Colors 
#b1cdab	green
#ffdb58	yellow
#931009	red
#c48d54	bread
#f1e4d6	off white*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: 'Happy Monkey', cursive;
  list-style-type: none;
  color: var(--text-color);
}

main{
  background-color: var(--bg-color);
}

p{
  font-weight: lighter;
}

h1{
  font-weight: bolder;
}

h2{
  font-size: bold;
}

.large {
  font-size: larger;
}

.medium {
  font-size: medium;
}

.small {
  font-size: small;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

:root{
  --bg-color: #D73135;
  --text-color: #FDF9D6;
  --hover-color: #FFDB58;
}

/* Header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

a img{
  width: 4em;
  padding-left: 1em;
}

/* NavBar */

.navbar {
  text-transform: uppercase;
  display: flex;
}

.navbar a{
  color: var(--text-color);
  padding: 10px 20px;
  font-weight: bolder;
}

.navbar a:hover{
  color: var(--hover-color);
  transition: .7s;
}

.current {
  text-decoration: underline;
}

/* NavBar End*/

/* Hamburger Menu*/


.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
  
.hamburger div:hover {
  background-color:var(--hover-color);
  transition: .7s;
}

  .bar1, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FECD67;
  }

  .bar2 {
    font-size: 1em;
    width: 40px;
    height: 5px;
    background-color: #B52C24;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Hamburger Menu End*/

  /*Popout Begin*/


.overlay {

  width: 100%; 
  background-color: rgba(0,0,0, 0.8); 
  transition: 0.3s; 
  overflow: hidden;
  display: none;
  
}

.myNav{
  position: absolute;
  bottom: 100;
}

.overlay-content {
  position: relative;
  text-align: center; 
  padding-top: 3em;
  margin-bottom: 3em;
}

.overlay a {
  font-size: x-large;
  text-transform: uppercase;
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  transition: 0.3s; 
}

.icon{
  display: none;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
}

.openNav{
  opacity: 1;
}


/*Popout End*/

  /*END OF HEADER*/




.banner{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #D83337;
}

.banner-logo {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-logo img{
  width: 100%;
  min-width: 100px;
}

.about{
  gap: 4em;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex: wrap;
  align-items: center;
  justify-items: end;
  background-image: url(../images/hotdogbannertopandbottom.png);
  background-size: cover;
  background-position: top left;
  padding: 1em 3em;
}

.about-text{
  line-height: 3rem;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 25px;
  width: 100%;
}

.about-text img{
  max-width: 120px;
  position: relative;
  top:10px;
}
.about-text b{
  padding-right: 7px;
}
.about-text button{
  position: relative;
  top: 2em;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-color);
  padding: 7px 15px;
  border:none;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: bolder;
  display: inline-block;
  font-size: 16px;
}

#more {display: none;}

h1,
h2{
  text-align: left;
  font-weight: bolder;
}

h2{
  font-weight: lighter;
}





/*@media only screen and (min-width: 781px) {

    .overlay{
        display: none;
    }
  }

  @media only screen and (max-width: 780px) {

    .navbar {
        display: none;
    }

    .hamburger {
      display: grid;
  }

  }*/
  

  @media only screen and (max-width: 525px) {
    header{
    flex-direction: column;
    }
  }
