/* Header */

/* Colors 
#b1cdab	green
#ffdb58	yellow
#931009	red
#c48d54	bread
#f1e4d6	off white*/

body {
    background-color: #FDF9D6;
    margin: 0;
}

header {
    background-color: #FDF9D6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo {
margin: 2em;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    font-family: 'Happy Monkey', cursive;
    font-weight: bolder;
    font-size: x-large;
    text-transform:uppercase;
    word-spacing: 20px;
    -webkit-text-fill-color: #B52C24;
    text-align: center;
    margin: 1em;
}


/* Hamburger Menu Start*/


.hamburger {
    display: flex;
    cursor: pointer;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    max-width: 100%;
    max-height: 100%;
}
  
  .bar1, .bar3 {
    width: 70px;
    height: 10px;
    background-color: #FECD67;
    transition: 0.4s;
  }

  .bar2 {
    width: 80px;
    height: 10px;
    background-color: #B52C24;
    margin: 6px 0;
    transition: 0.4s;
    left: 5px;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 15.5px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -15.5px) rotate(45deg);
  }

  /* Hamburger Menu End*/

  /*END OF HEADER*/



  main {
    width: 100%;
    height: 100em;
    background-image: url('../images/hotdogbanner.png');
    background-size: cover;
}

@media only screen and (max-width: 1015px) {
    header{
        justify-content: center;
    }
}


@media only screen and (min-width: 691px) {
    .hamburger {
        display: none;
    }
  }

  @media only screen and (max-width: 690px) {

    .navbar {
        display: none;
    }
  }

  @media only screen and (max-width: 630px) {
    header{
        flex-wrap: nowrap;
    }
}